In [1]:
import pandas as pd
import numpy as np
from coords_parcer import *
from sklearn.model_selection import train_test_split
import tensorflow as tf
from tensorflow import keras
import os

WARNING:tensorflow:From c:\python\GitHub\weather_xzxc\ven\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [5]:
look = pd.read_csv('srock8/20069.dat')
look

,Синоптический индекс станции,Год по Гринвичу,Месяц по Гринвичу,День по Гринвичу,Срок по Гринвичу,Год источника (местный),Месяц источника (местный),День источника (местный),Срок источника,Номер срока в сутках по поясному декретному зимнему времени (ПДЗВ),...,Температура точки росы,Признак качества32,Атмосферное давление на уровне станции,Признак качества33,Атмосферное давление на уровне моря,Признак качества34,Характеристика барической тенденции,Признак качества35,Величина барической тенденции,Признак качества36
0,20069,1965,12,31,18,1966,1,1,21,1,...,-39.0,0,1013.1,0,1014.8,0,2.0,0,0.2,0
1,20069,1965,12,31,21,1966,1,1,0,2,...,-40.0,0,1013.4,0,1015.1,0,2.0,0,0.3,0
2,20069,1966,1,1,0,1966,1,1,3,3,...,-40.0,0,1014.0,0,1015.7,0,2.0,0,0.6,0
3,20069,1966,1,1,3,1966,1,1,6,4,...,-40.0,0,1014.0,0,1015.7,0,4.0,0,0.0,0
4,20069,1966,1,1,6,1966,1,1,9,5,...,-40.0,0,1013.5,0,1015.2,0,7.0,0,0.5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166547,20069,2022,12,31,3,2022,12,31,3,4,...,NaN,7,NaN,7,NaN,7,NaN,7,NaN,7
166548,20069,2022,12,31,6,2022,12,31,6,5,...,NaN,7,NaN,7,NaN,7,NaN,7,NaN,7
166549,20069,2022,12,31,9,2022,12,31,9,6,...,NaN,7,NaN,7,NaN,7,NaN,7,NaN,7
166550,20069,2022,12,31,12,2022,12,31,12,7,...,NaN,7,NaN,7,NaN,7,NaN,7,NaN,7
166551,20069,2022,12,31,15,2022,12,31,15,8,...,NaN,7,NaN,7,NaN,7,NaN,7,NaN,7

Нам нужно заполнить пустые NaN значения датафрейма

* температуру - 'Температура воздуха по сухому термометру'
* осадки - 'Сумма осадков за период между сроками'
* влажность - 'Относительная влажность воздуха'
* скорость ветра -  'Средняя скорость ветра'

In [1]:
df = pd.DataFrame(columns=open("names.txt", encoding='UTF-8').read().split("\n"))
df

NameError: name 'pd' is not defined

In [3]:
get_valid_coords()

{23933: [61, 69, 46], 30703: [53, 102, 543]}

```def get_valid_coords():
    result = dict()
    net_coords = get_csv()
    
    for i in os.listdir('C://python//GitHub//weather_xzxc//data//srock8//'):
        sin_index = int(i.replace('.dat', ''))
        for coords in net_coords:
            try:
                if sin_index == int(coords[0]):
                    result[sin_index] = [int(i) for i in coords[1:]]
            except:
                ...
    return result
```

In [3]:

net_coords = get_csv()

for i in os.listdir('srock8/'):
    sin_index = int(i.replace('.dat', ''))
    for coords in net_coords:
        try:
            if sin_index == int(coords[0]):
                temp_df = pd.read_csv(f'srock8/{i}')
                temp_df['Широта'] = np.nan
                temp_df['Долгота'] = np.nan
                temp_df['Высота над уровнем моря'] = np.nan
                df = pd.concat([df, temp_df])
                print('Concatet')
                break
        except:
            ...

In [ ]:
df

Empty DataFrame
Columns: [A, Широта]
Index: []